body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: rgba(255, 115, 0);
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  transition: top 0.3s;
  z-index: 1000;
}

.navbar-hide {
  top: -80px;
}

.navbar.transparent {
  background-color: rgba(255, 115, 0, 0.642);
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #fff; 
  text-decoration: none;
  border-bottom: 2px solid #fff; 
}

.navbar-nav .nav-link:hover {
  color: #fff; 
  text-decoration: none; 
  border-bottom: 2px solid #fff; 
}

/* BANNER/HERO */
.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.banner-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.slant-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom right, transparent 50%, #fff 50%);
  z-index: 2;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 3;
}

/* CONTENT */
.form-select {
  border-radius: 25px;
  padding: 0.3rem 4rem 0.3rem 0.6rem;
  text-align: left;
}

.custom-shadow {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1); 
}

.text-grey {
  color: rgb(153, 153, 153);
}

/* PAGINATION */
.pagination .page-link {
  color: black;
  background-color: transparent;
  border: none;
}
.pagination .page-link:focus {
  color: white; 
  background-color: rgb(255, 115, 0); 
  outline: none !important;
}